@media (max-width: 624px){
    .addmanage{
        margin: .8rem;
    }
}
@media (max-width: 576px){
    .manage{
        margin: 0 1rem;
    }
    .addmanage{
        margin: 0 1.5rem;
    }
    .border-left{
        border: none;
    }
}