body{
    font-family: monospace;
}
.simplebar-wrapper i{
color: #57e3e8;
}
.logo-text ,.sidebar-wrapper .metismenu a{
    color: #4c5258;
}
.sidebar-wrapper{
    background: #fff;
}
.sidebar-wrapper .metismenu a:hover{
    background: #e9ecef;
}
.sidebar-wrapper .metismenu .mm-active>a{
    background: inherit;
}
.breadcrumb-item i{
    color: #57e3e8;
}
.manage a{
    color: #1A332F;
    background: #ECECEC;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.manage a i,.addmanage a i{
    font-size: 1.5rem;
}
.manage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}
.manage span{
    margin-top: 5px;
    font-weight: bold;
}
.manage-item:hover{
    color: #fff;
    background: #04CAE1;
    transition: 300ms;
}
.border-left{
    border-left: 1px solid #ECECEC;
}
.addmanage .addmanage-item,.addmanage{
    color: #BBBBBB;
}
.addmanage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5rem;
}
.addmanage-item:hover{
    color: #04CAE1;
    transition: 300ms;
}
.selectstate{
    margin: 1rem 0;
}
.selected{
    background: #04CAE1;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 20px;
}
.selected:hover{
    color: #fff;
}
.unselected{
    background: #D8D8D8;
    color: #A2A2A2;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
}
.unselected:hover{
    background: #04CAE1;
    color: #fff;
    transition: 300ms;
}
.table>tbody {
    vertical-align: baseline;
}
#backstage_account thead,#backstage_company thead,#log thead,#system_user thead,#system_permissions thead,#punch_history thead,#userpunch_history thead,
#punchrecordtable thead,#officialdocument thead,#formtable thead,#phototable thead,#meeting thead,#finishproject thead,#allofficialdocument thead,
#project-meetingfile thead,#success_task thead,#undone_task thead,#recent_tasks thead,#receiveofficial thead,#projectreceiveofficial thead{
    background: #F6F6F6;
}
#expiring_tasks thead{
    background: #b33333;
    color: #fff;
}
#project-listtable thead{
    background: #0e5aa0;
    color: #fff;
}
#project-meeting thead,#project-checklist thead,#project-official thead,#project-personnel thead,#project-loglist thead,#project-logrecord thead,
#project-checkrecord thead,#project-photos thead,#downloads thead{
    background: #00B9BF;
    color: #fff;
}
#signature thead{
    background: #AE876A;
    color: #fff;
}
#project-meeting tbody,#project-checklist tbody,#signature tbody,#project-official tbody,#project-personnel tbody,#project-loglist tbody,#project-logrecord tbody,
#project-checkrecord tbody,#downloads tbody{
    background: #F8F8F8;
}
#project-meeting th,#project-meeting td,#project-checklist th,#project-checklist td,#signature th,#signature td,#project-official th,#project-official td,
#project-personnel th,#project-personnel td,#project-loglist th,#project-loglist td,#project-logrecord th,#project-logrecord td,#project-checkrecord th,
#project-checkrecord td,#project-photos th,#project-photos td,#downloads th,#downloads td{
    border-right: 5px solid #fff;
}
.edit,.del,.userhistory,.unselected,.amend,.view,.download,.export,.eye,.history,.projectdel,.participantview,.helmet-safety{
    border: none;
}
.participantview{
    background: #ac823c;
    color: #fff;
}
.eye,.download{
    min-width: 30px;
}
.edit:hover,.del:hover,.userhistory:hover,.amend:hover,.view:hover,.download:hover,.eye:hover,.helmet-safety:hover{
    background: #04CAE1;
    color: #fff;
    transition: 200ms;
}
.participantview:hover{
    background: #83632b;
    color: #fff;
}
.unselected:focus,.projectdel:focus,.projectdownload:focus,.projectedit:focus,.projecteye:focus,.projectformhistory:focus,.addprojectbtn:focus{
    outline: none;
}
.modal-header{
    background: #04CAE1;
}
#participant .modal-header,#edittaskall .modal-header{
    background: #0e5aa0;
}
.modal-title{
    color: #fff;
    font-weight: bold;
}
.form-label{
    color: #1A332F;
}
.btn-04CAE1{
    background: #04CAE1;
    color: #fff;
}
.btn-04CAE1:hover{
    background: #04a5b7;
    color: #fff;
}
.btn-secondary{
    background-color: #c5c5c5;
    border:none
}
.dataTables_filter{
    margin-bottom: 10px;
}
.modal-header.editmodal{
    background: #b7c7c9;
}
.btn-83c7cf{
    background: #83c7cf;
    color: #fff;
}
.btn-83c7cf:hover{
    background: #04a5b7;
    color: #fff;
}
.userhistory{
    border-radius: 50rem;
}
.checkboxdet{
    background: #D8D8D8;
    color: #A2A2A2;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
}
.checkboxdet:hover {
    background: #c12a00;
    color: #fff;
    transition: 300ms;
}
.fa-file-pdf{
    color: red;
}
.fa-file-csv{
    color: green;
}
.fa-file-word{
    color: #0083cf;
}
.btn-outline-00B9BF{
    background: #D8D8D8;
    color: #A2A2A2;
    border: none;
}
.btn-outline-00B9BF:hover{
    background-color: #00c8cf;
    border: none;
    color: #fff;
}
.btn-check:checked+.btn-outline-00B9BF{
    background-color: #00B9BF;
    border-color: #00B9BF;
    color: #fff;
}
.projectveiw{
    min-height: 800px;
}
.project{
    overflow: auto;
    max-height: 750px;
}
.project a{
    color: #000;
}
.project li:hover{
    background: #f1f1f1;
}
.B9BF{
    background: #00B9BF;
    min-width: 30px;
}
.gray{
    color: #A2A2A2;
}
.addbtn{
    font-weight: bold;
    border-radius: 50rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}
.fa-circle-plus,.fa-solid.fa-circle-check.me-1{
    color: #00B9BF;
}
.addbtn:hover{
    background: #d9dfe0;
}
.formtitle{
    font-weight: bold;
}
.show-n{
    box-shadow: none;
}
.photo{
    width: 40px;
    opacity: .85;
}
.font-gary{
    color: #b9b9b9;
}
.crecle-bg{
    display: inline-block;
    padding: 2.7rem 3rem;
}
.crecle-bg i{
    color: #57E3E8;
    font-size: 2rem;
}
.btn-outline-57E3E8{
    border-color: #57E3E8;
    color: #57E3E8;
}
.btn-outline-57E3E8:hover{
    background: #57E3E8;
    color: #fff;
}
.text-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.brtitle{
    color: #6c757d;
}
.gridArea{
    overflow: auto;
    /* max-width: 1100px; */
}
.mt-28{margin-top: 2.8rem;}
.export{
    background: #047ee1;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 15px;
}
.export:hover{
    color: #fff;
    background: #0365b6;
}
.export:focus{
    outline: none;
}
.submit{
    background: #04CAE1;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    padding: 12px 20px;
}
.submit:hover{
    color: #fff;
    background: #04b5c9;
}
a.view{
    background: #f0f0f0;
    color: #000;
    display: inline-block;
}
.addproject:hover{
    background:#8294a6;
}
.addspecific:hover{
    background: #ac9176;
}
.addmaterial:hover{
    background: #7da1a1;
}
.addpersonnel:hover{
    background: #c5bc9e;
}
.technical{
    padding: 5px;
    border-radius: .25rem;
}
.chekselect{
    flex-direction: row;
    flex-wrap: wrap
}
.chekselect .form-check{
    font-size: 1rem;
    padding-left: 2.5em;
}
.form-check-input:checked {
    background-color: #04cae1;
    border-color: #04cae1;
}
.safety{
    padding: 1rem;
}
.safety li{
    list-style: none;
    background: #f8f9fa;
}
.safety li:first-child{
    padding: 1.5rem 2rem .5rem;
}
.safety ol li{
    list-style: inherit;
}
.safety ol li:first-child{
    padding: 0;
}
.safety li:last-child{
    padding: 0 2rem;
}
.safety ol li:last-child{
    padding: 0;
}
.safetyother{
    background: #f8f9fa;
    padding: 0rem 2rem 2rem;
}
.remark{
    padding: 0 1rem;
}
#constructionlog2_form,#addcheckrecord2_form{
    display: none;
}
.checkform{
    display: none;
}
.loginlogo{
    font-size: 2rem;
    font-weight: bold;
}
.logingform{
    padding: 6rem 1.5rem;
}
.tox .tox-promotion{
    display: none;
}
.listaction {
    background: #f8f9fa;
}
.nu-tag {
    background: #f7f7ff;
    color: #999;
    margin-top: 1.3rem;
    border-radius: 0.3rem;
    display: inline-block;
    line-height: 40px;
    padding: 0 10px;
}
.projecttitle {
    font-weight: bold;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.construction-period {
    margin-top: 0.5rem;
}
.bg-04CAE1{
    background: #04CAE1;
    color: #fff;
}
.finishproject{
    display: none;
}
.projectfolder a,.logfloderlist a,.checkfloderlist a{
    color: #000;
}
.projectedit,.projecteye,.projectdownload,.projectformhistory,.projectdel{
    border-radius: 3rem;
    color: #fff;
}
.projectedit{
    background: #59AF7E;
}
.projectedit:hover{
    background: #489b6c;
}
.projecteye,.projectdel{
    background: #6C6C6C;
}
.projecteye:hover,.projectdel:hover{
    background: #5a5a5a;
}
.projectdownload{
    background: #E97500;
}
.projectdownload:hover{
    background: #d46b01;
}
.projectformhistory{
    background: #00B9BF;
}
.projectformhistory:hover,.addprojectbtn:hover{
    background: #01a3a8;
    color: #fff;
}
#project-checklist_length.dataTables_length,#project-loglist_length.dataTables_length{
    display: none;
}
#project-logrecord_length.dataTables_length,#project-checkrecord_length.dataTables_length{
    margin-bottom: 15px;
}
.addsignature{
    font-weight: bold;
    border-radius: .25rem;
    background: #AE876A;
    color: #fff;
}
.addsignature:hover{
    background: #856750;
    color: #fff;
}
.headnumber{
    font-weight: bold;
    border-radius: .25rem;
    background: #b7cfd5;
    color: #fff;
}
.headnumber:hover{
    background: #7fb8c7;
    color: #fff;
}
.modal-header.editsignature,.btn-856750{
    background: #856750; 
    color: #fff;
}
.btn-856750:hover{
    background: #9b785e;
    color: #fff;
}
.btn-489b6c{
    background: #59AF7E;
    color: #fff;
}
button.btn-489b6c:hover{
    background: #489b6c;
    color: #fff;
}
.project-showlist{
    display: none;
}
.checkfloderlist,.checktablelist,#successtable,#undonetable{
    display: none;
}
.fa-solid.fa-file{
    font-size: 22px;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
}
.addprojectbtn{
    display: flex;
    background: #00b9bf;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
.fa-solid.fa-plus{
    font-size: 1.2rem;
    color: #fff;
}
.btn-outline-00b9bf {
    color: #00b9bf;
    border-color: #00b9bf;
}
.btn-outline-00b9bf:hover {
    background: #00b9bf ;
    color: #fff;
}
.btn-check:checked+.btn-outline-00b9bf{
    color: #fff;
    background: #00b9bf;
    border-color: #00b9bf;
}
.meetingcontact a{
    background: #f8f9fa;
    padding: 1rem;
    color: #000;
}
.meetingcontact a:hover{
    background: #00b9bf ;
    color: #fff;
    cursor: pointer;
    transition: 300ms;
    font-weight: bold;
}
#meetingconclusion textarea{
    min-height: 150px;
}
.meetingfile,.meetingconclusion{
    display: none;
}
.editmeeting{
    background: #F6F6F6;
    color: #000;
}
.details i{
    padding: 10px;
    border-radius: 0.25rem;
}
.details .fa-solid.fa-check{
    background: #acf2a8;
    color: #17a00e;
}
.details .fa-solid.fa-pencil{
    background: #FFF2EC;
    color: #FC804C;
}
.details .fa-solid.fa-plus{
    font-size: inherit;
    background: #D8F4F7;
    color: #5AADB5;
    padding: 5px 10px;
    font-size: 24px;
}
.details .fa-solid.fa-calendar-day{
    background: #F2F2F2;
    padding: 10px 11px;
}
.details h5{
    color: #6c757d;
    font-weight: bold;
}
.analysis-item{
    border: 1px solid #dee2e6;
    border-radius: .5rem;
    padding: 20px;
}
.smalltext{
    font-size: 10px;
}
.nav-pills-success.nav-pills .nav-link.active {
    color: #fff;
    background-color: #00b9bf;
}
.chartborder{
    border: 1px solid #e9ecef;
    border-radius: 1rem;
    padding: 20px;
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}
.receive{
    padding: 5px 10px;
}
.chip{
    margin: 0;
    border-radius: 0;
}
.chip:first-child{
    margin-left: 20px;
}
#receive,.receivetitle{
    display: none;
}
.porjectfile{
    position: relative;
}
.porjectfile .dropdown{
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 10;
}
table.dataTable tbody th, table.dataTable tbody td{
    height: 30px;
}
#projectfunction{
    display: none;
}
#editpermissionbody .managebtn,#editpermissionbody .projectbtn{
    color: #fff;
    background-color: #000;
    border-color: #000;
}
#editpermissionbody .managebtn:hover,#editpermissionbody .projectbtn:hover{
    color: #fff;
    background-color: #4f71a2;
    border-color: #4f71a2;
}
#editpermissionbody #managefunction .nav-pills-success.nav-pills .nav-link.active,#editpermissionbody #projectfunction .nav-pills-success.nav-pills .nav-link.active{
    background-color: #aaa;
}
#editpermissionbody #managefunction .form-check-input:checked,#editpermissionbody #projectfunction .form-check-input:checked{
    background-color: #6c757d;
    border-color: #6c757d;
}
